.about__title {
  padding-top: 30px;
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.9231rem;
  line-height: 1.2;
}

.about__item {
  font-weight: bold;
  font-size: 1.3077rem;
  line-height: 1.18;
}
