.contacts-wrapper {
  margin-bottom: 42px;
  padding-right: 36px;
  padding-left: 30px;
}

.contacts__title {
  font-weight: bold;
  font-size: 1.3846rem;
  line-height: 1.67;
}

.contacts__item {
  display: flex;
  font-family: @font__normal;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1538rem;
  line-height: 2;
  color: @color__dark-lite;
}

.contacts__feedback {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-top: 13px;
  padding-bottom: 15px;
  text-align: center;
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.3846rem;
  line-height: 1.11;
  text-transform: uppercase;
  background-color: @color__white;
  color: @color__dark-lite;
  border: 2px solid @color__dark-lite;
}

.contacts__feedback:hover,
.contacts__feedback:focus,
.contacts__feedback:active {
  background-color: @color__dark-lite;
  color: @color__white;
}

.contacts__feedback:active {
  color: @color__white-alfa;
}

.contacts__link-wrap {
  margin: 0;
  margin-left: 26px;
}

.contacts__link {
  color: @color__black;
}

.contacts__link:hover,
.contacts__link:focus {
  color: @color__greeny-lite;
}

.contacts__link:active {
  color: @color__greny-alfa;
}

.contacts__address-wrap {
  width: 150px;
  margin-left: 26px;
}

.contacts__address-link {

  font-style: normal;
}

.contacts__image-wrapper {
  margin-bottom: 34px;
}
