.intro {
  min-height: 177px;
  text-align: center;
  background-color: @color__grey;
}

.intro__title {
  font-weight: bold;
  font-size: 2.0769rem;
  margin: 0;
  padding-top: 76px;
  line-height: 1.11;
  color: @color__black;
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 226px;
  }

  .intro__title {
    font-size: 3.3077rem;
    line-height: 1.16;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    min-height: 255px;
  }

  .intro__title {
    font-size: 4.0769rem;
    line-height: 1.08;
  }
}
