.slider__toggle {
  background-color: @color__white;
  border: 1px solid @color__white-two;
}

.slider__toggle:hover,
.slider__toggle:focus, {
  opacity: 0.6;
}

.slider__toggle:active {
  opacity: 0.3;
}

.slider__btn {
  font-family: @font__bold;
  font-weight: bold;
  font-size: 1.3846rem;
  line-height: 1.11;
  text-transform: uppercase;
  background-color: @color__white;
  color: @color__dark-lite;
  border: 2px solid @color__dark-lite;
}

.slider__btn:hover,
.slider__btn:focus {
  background-color: @color__dark-lite;
  color: @color__white;
}

.slider__btn:active {
  color: @color__white-alfa;
}
