.parameters__col {
  height: 38px;
  padding: 0;
  padding-right: 29px;
  border-bottom: 1px solid @color__white-two;

  &--value {
    padding-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .parameters__col--value {
    width: 180px;
  }
}
